# Ignore macOS system files
.DS_Store

# Ignore IDE and editor files
.vscode/
.vscode/*
**/*.md

# Ignore compiled files
*.o

# Ignore build directories
*/build/
build/
*/bin/
bin/

# Ignore logs and temp files
*.log
*.tmp

# Ignore Container
.devcontainer

# Ignore Images
*.png

# Ignore Images
**/*.pdf
